/* Satoshi - Regular */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi/Satoshi-Regular.woff2') format('woff2'),
       url('/fonts/satoshi/Satoshi-Regular.woff') format('woff'),
       url('/fonts/satoshi/Satoshi-Regular.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}

/* Satoshi - Regular Italic */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi/Satoshi-Italic.woff2') format('woff2'),
       url('/fonts/satoshi/Satoshi-Italic.woff') format('woff'),
       url('/fonts/satoshi/Satoshi-Italic.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: italic;
}

/* Satoshi - Medium */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi/Satoshi-Medium.woff2') format('woff2'),
       url('/fonts/satoshi/Satoshi-Medium.woff') format('woff'),
       url('/fonts/satoshi/Satoshi-Medium.ttf') format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: normal;
}

/* Satoshi - Medium Italic */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi/Satoshi-MediumItalic.woff2') format('woff2'),
       url('/fonts/satoshi/Satoshi-MediumItalic.woff') format('woff'),
       url('/fonts/satoshi/Satoshi-MediumItalic.ttf') format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: italic;
}

/* Satoshi - Bold */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi/Satoshi-Bold.woff2') format('woff2'),
       url('/fonts/satoshi/Satoshi-Bold.woff') format('woff'),
       url('/fonts/satoshi/Satoshi-Bold.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}

/* Satoshi - Bold Italic */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi/Satoshi-BoldItalic.woff2') format('woff2'),
       url('/fonts/satoshi/Satoshi-BoldItalic.woff') format('woff'),
       url('/fonts/satoshi/Satoshi-BoldItalic.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: italic;
}

/* Satoshi - ExtraBold */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi/Satoshi-Black.woff2') format('woff2'),
       url('/fonts/satoshi/Satoshi-Black.woff') format('woff'),
       url('/fonts/satoshi/Satoshi-Black.ttf') format('truetype');
       font-weight: 800;
       font-display: swap;
       font-style: normal;
}