---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Pascout.">
	<main>
		<h1>Welcome to Pascout</h1>
		
	</main>
</Layout>

<style is:global>
	* {
		margin: 0;
    padding: 0;
    box-sizing: border-box;
	}
</style>
