---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Pascout.">
  <header class="w-full p-3 border-b border-slate-300">
    <div class="container">
      <div class="font-bold text-2xl">
        Pascout
      </div>
    </div>
  </header>
  
	<main>
		<h1 class="text-4xl font-bold">Welcome to Pascout</h1>
		
	</main>
</Layout>

<style is:global>
	* {
		margin: 0;
    padding: 0;
    box-sizing: border-box;
	}
</style>
