---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro'
---

<Layout title="Welcome to Pascout.">
  <Header></Header>
	<main>
    <div class="flex justify-center gap-3">
      <div class="font-primary">
        <h1 class="text-4xl">Welcome to Pascout</h1>
        <h1 class="text-4xl font-semibold">Welcome to Pascout</h1>
        <h1 class="text-4xl font-bold">Welcome to Pascout</h1>
        <h1 class="text-4xl font-extrabold">Welcome to Pascout</h1>
      </div>
      <div class="font-secondary">
        <h1 class="text-4xl">Welcome to Pascout</h1>
        <h1 class="text-4xl font-medium">Welcome to Pascout</h1>
        <h1 class="text-4xl font-bold">Welcome to Pascout</h1>
        <h1 class="text-4xl font-extrabold">Welcome to Pascout</h1>
      </div>
    </div>
	</main>
</Layout>

<style is:global>
	* {
		margin: 0;
    padding: 0;
    box-sizing: border-box;
	}
</style>
