/* Mona Sans - Regular */
@font-face {
  font-family: 'Mona sans';
  src: url('/fonts/mona-sans/Mona-Sans-Regular.woff2') format('woff2'),
       url('/fonts/mona-sans/Mona-Sans-Regular.woff') format('woff'),
       url('/fonts/mona-sans/Mona-Sans-Regular.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}

/* Mona Sans - SemiBold */
@font-face {
  font-family: 'Mona sans';
  src: url('/fonts/mona-sans/Mona-Sans-SemiBold.woff2') format('woff2'),
       url('/fonts/mona-sans/Mona-Sans-SemiBold.woff') format('woff'),
       url('/fonts/mona-sans/Mona-Sans-SemiBold.ttf') format('truetype');
       font-weight: 600;
       font-display: swap;
       font-style: normal;
}

/* Mona Sans - Bold */
@font-face {
  font-family: 'Mona sans';
  src: url('/fonts/mona-sans/Mona-Sans-Bold.woff2') format('woff2'),
       url('/fonts/mona-sans/Mona-Sans-Bold.woff') format('woff'),
       url('/fonts/mona-sans/Mona-Sans-Bold.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}

/* Mona Sans - ExtraBold */
@font-face {
  font-family: 'Mona sans';
  src: url('/fonts/mona-sans/Mona-Sans-ExtraBold.woff2') format('woff2'),
       url('/fonts/mona-sans/Mona-Sans-ExtraBold.woff') format('woff'),
       url('/fonts/mona-sans/Mona-Sans-ExtraBold.ttf') format('truetype');
       font-weight: 800;
       font-display: swap;
       font-style: normal;
}